button {
    border: 0;
    text-align: center;
    background-color: white;
}

button:hover {
  background-color: gainsboro;
}

.compList button {
    text-decoration: line-through;
    color:gray;
}