.container {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-template-rows: 50px;
}

button {
    border: 0;
    width: 100px;
    text-align: left;
    background-color: white;
}

button:hover {
  background-color: gainsboro;
}

button#done {
    text-decoration: line-through;
    color:gray;
}

