.prev {
  display: flex;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

article {
  display: flex;
  flex-direction: column;
  align-items: start;
}

section {
  display: flex;
  flex-direction: column;
  align-items: start;
}

button {
    border: 0;
    text-align: center;
    background-color: white;
}

button:hover {
  background-color: gainsboro;
}

button#done {
    text-decoration: line-through;
    color:gray;
}

